:root {
    --primary-color: #ffffff   ;
    --secondary-color: #12355B ;
    --accent1-color: #D72638;
    --accent2-color: #420039;

    --headline-color-on-white: #420039; /* headlines on a white background */ 
    --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
    --paragraph-color-on-white: #420039; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
    --paragraph-background-color: #12355B;
    --nav-link-color: #d72638;
    --nav-background-color: #ffffff;
    --nav-hover-link-color: #12355b;
    --nav-hover-background-color: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Cormorant Garamound", serif;
}
header, main, footer {
    border: 5px;
    padding: 1rem; 
}
header, footer {
    background-color: var(--nav-background-color);
}
header {
    display: inline-flex;
    align-items: end;
    color: var(--headline-color-on-white);
}
header img {
    max-width: 10%;
    max-height: 10%;
    margin:0;
    padding: auto;
    display: inline-flex;
    align-items: start;
    box-shadow: 3px 1px 3px lightgray;
}
h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    align-items: center;
    color: var(--headline-color-on-white);
    vertical-align: middle;
}
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 2vw;
}
#menu::before {
    content: "☰";
    color: var(--headline-color-on-white);
}
#menu.open::before {
    content: "✖";
    color: var(--headline-color-on-white);
}
nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: var(--headline-color-on-color);
    font-size: 1.2rem;
    max-width: 1200px;
    align-items: center;
}
a {
    display:none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--headline-color-on-color);
    font-size: 1.5rem;
    margin:0 auto
}
a:hover {
    font-weight: 700;
    text-decoration: underline;
}
.open a {
    display: block;
}
.active::before {
    content: "✨";
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
    margin: auto;
}
.hero button {
    position: absolute;
    right: 1em;
    bottom: 1em;
    padding: .3em;
    background-image: linear-gradient(to bottom right, var(--accent1-color), var(--accent2-color));
    color: var(--paragraph-color-on-color);
    border: 1px solid var(var(--paragraph-color-on-color));
    border-radius: 5px;
    box-shadow: 1px 1px 5px lightgray;
}
.hero button:hover {
    cursor: pointer;
}
main {
    background-color: var(--accent2-color);
}
h2 {
    color: var(--paragraph-color-on-color);
    font-weight: 400;
    margin-left: .25em;
    font-size: 1.6em;
}
/* events and weather */
.events, 
.weather, 
.forecast {
    background-color: var(--nav-background-color);
    min-height: 100px;
}
ul {
    margin-left: 1.5em;
    list-style-type:square;
}
#events li {
    padding: .6em;
}
div.weatherInfo {
    padding: .5em;
    text-align: center;
}
#temp {
    font-size: 1.2em;
}
.weatherInfo img {
    margin:auto;
    background-color: #03055e69;
    border-radius: 5px;
}
div.weatherStats p {
    padding: .4em;
}
#desc {
    text-transform: capitalize;
}
section h2 {
    background-color: var(--nav-hover-link-color);
    color: white;
    font-weight: 100;
    padding: .25em;
    font-size: 1.2rem;
}
section h3 {
    text-align: center;
    background-color: var(--headline-color-on-white);
    color: black;
    font-weight: 100;
    padding: .25em;
}
.forecast p {
    max-width: 100%;
    padding: .4em;
    margin-left: .25em;
}
/*business spotlight*/
.spotlight {
    text-align: center;
    margin: 1em;
    color: var(--paragraph-color-on-color);
    font-weight: 400;
}
#spotlight a {
    margin: .75em auto;
    text-align: center;
    display: block;
}
#spotlight img {
    border-radius: 45%;
}
#spotlight img:hover {
    box-shadow: lightgray;
}

.fares button {
    margin: .5em;
    font-size: 2em;
    padding: .1em;
    min-width: 50px;
}
#cards section {
    border-radius: 3px;
    margin: .75em auto;
    text-align: center;
    background-color: white;
    box-shadow: 2px 3px 5px 5px gray;
    width: 300px;
    padding: .5em;
}
#cards img {
    height: 120px;
    width: auto;
}
#cards a {
    font-size: 1rem;
    color: black;
}
#cards.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
#cards.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    margin: 0;
    padding: .25rem 0;
    box-shadow: none;
    border: none;
    margin: .5em auto;
    min-width: 100%;
    align-items: center;
}
#cards.list section > * {
    margin: 0 1rem;
}
#cards.list section img {
    display: none;
}
#cards.list section h3 {
    font-size: 2rem;
    background-color: var(--paragraph-color-on-color);
}
#cards.list section p {
    background-color: var(--paragraph-color-on-color);
}
#cards.list section:nth-child(even) {
    background-color: #03055e1d;
}
.directory {
    text-align: center;
    color: var(--paragraph-color-on-color);
}
footer {
    margin-top: 1em;
    background-color: var(--paragraph-background-color);
    padding: .3em;
    color: var(--headline-color-on-color);
}
footer p {
    color: var(--headline-color-on-color);
}
.contact, .wdd231 {
    margin: .5em;
}
#social {
    text-align: center;
}
#social img {
    display: inline-block;
}
.wdd231 {
    text-align: center;
    align-content: center;
    justify-items: center;
}
p {
    font-size: 1rem;
    text-align:center;
    padding: 2 rem;
    align-items: center;
    color: var(--headline-color-on-white);
}
@media screen and (min-width: 800px) {
    #menu {
        display: none;
    }
    header {
        flex: 100%;
        width: 100%;
        display: flex;
    }
    h1 {
        flex: 1;
    }
    nav {
        flex-direction: row;
        text-align: right;
        flex: 1;
        background-color: var(--accent1-color);
        max-width: 100%;
    }
    a {
        display: inline;
        text-align: right;
    }
    section h3 {
        display: flex;
        min-height: 3em;
        align-items: center;
    }
    .info {
        display: grid;
        grid-template-columns: 2fr 1.2fr 1fr;
        column-gap: 10px;
    }
    #cards, #spotlight {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
}


