* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Sansita";
}
body{
    margin: 1rem auto;
    max-width:1300px;
    min-width:300px;
    background-color: plum;
}
header, main, footer {
    border: 5px;
    padding: 1rem; 
}
header, footer {
    background-color: #333333;
    color: whitesmoke;
    font-family: Lato;
}
header {
    display: inline-flex;
    align-items: end;
}
h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 1 rem;
    align-items: center;
}
/*
.navigation {
    grid-column: 1/4;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #333333;
    margin: 0 auto;
    max-width: 1200px;
}
.navlink {
    display: block;
    flex: 1 1 auto;
    text-decoration: none;
    text-align: center;
    color:whitesmoke;
    padding: 1rem;
    font-size:1.5rem;
}
.active {
    background-color: aliceblue;
}
nav ul {
    overflow: hidden;
}
a:hover {
    text-decoration: overline;
    text-size-adjust: 5%;
}
a {
    color:black;
}
.open a {
    display: block;
    grid-template-rows: 1fr;
}
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 2vw;
}
#menu::before {
    content: "☰";
    color: aliceblue;
}
#menu.open::before {
    content: "✖";
    color: aliceblue;
}
*/
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 2vw;
}
#menu::before {
    content: "☰";
    color: aliceblue;
}
#menu.open::before {
    content: "✖";
    color: aliceblue;
}
nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: aliceblue;
    font-size: 1.2rem;
    background-color: lavender;
    max-width: 1200px;
}
a {
    display:none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
}
a:hover {
    text-decoration: overline;
    text-size-adjust: 5%;
}

/* when button is clicked */
.open a {
    display: block;
}
.active::before {
    content: "✨";
}
main {
    max-width: 1000px;
    grid-column:1/4;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    margin: auto;
}
section {
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 20px;
    background-color: lavender;
    margin: .5rem;
    box-shadow: 7px 5px 7px #333333;
    min-width: fit-content;
}
.card {
    grid-column: 1/3;
}
ul.projects {
    list-style-position: outside;
    list-style-type: circle;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 50px;
}
li {
    text-decoration: underline;
    margin: auto;
}
header img {
    max-width: 30%;
    max-height: 25%;
    margin: 25px;
    padding: auto;
    display: inline-flex;
    align-items: start;
    box-shadow: 3px 1px 3px lightgray;
    vertical-align:middle;
}
footer img {
    max-width: 1rem;
    max-height: 1rem;
    margin: auto;
    display: infline-flex;
    align-items: end;
}
.card2{
    grid-column: 3/4;
}
.card2 img{
    max-width: 65%;
    max-height: 65%;
    align-items: center;
    justify-content: center;
    display:block;
    margin: auto;
}
.card2 p{
    text-align: center;
}
.card3{
    grid-column: 1/4;
}
#labels {
    display: flex;
    text-align: center;
}
#labels p {
    text-align: center;
    padding: .5rem 1.5rem;
    max-width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    margin: 5px auto;
}
#labels p:hover{
    cursor: pointer;
}
#cards {
    margin-top: 10px;
    display: block;
    align-items: center;
}
#cards div {
    cursor: pointer;
}
h3 {
    text-align: center;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue; 
    max-width: 400px;  
    margin: 5px auto;
}
.completed {
    background-color: darkblue;
    color:whitesmoke;
}
h2 {
    background-color: darkorchid;
    color:whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
}
p {
    padding: 30px 15px;
    font-size: 1rem;
}
footer {
    text-align: center;
    align-content: center;
    justify-items: center;
}
@media screen and (min-width: 800px) {
    #menu {
        display: none;
    }
    header {
        flex: 100%;
        width: 100%;
        display: flex;
    }
    h1 {
        flex: 1;
    }
    nav {
        flex-direction: row;
        text-align: right;
        flex: 1;
        background-color: #333333;
    }
    a {
        display: inline;
        text-align: right;
    }
    #courses {
        grid-column: 1/3;
    }
    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        place-items: center;       
    }
    h3 {
        min-width: 300px;
    }
    #labels p {
        min-width: 150px;
    }
}